ul {
    list-style-type: none;
    margin-top: 45px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: dosis;
}

li {
    display: inline-block;
    background: #ff9966;
    padding: 0px 2px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #c07c00;
    border-right: 2px solid #c07c00;
    cursor: pointer;
    margin-left: 5px;
    font-size: 12pt;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
    opacity: 0.6;
    color: black;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ff9966;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 20px 20px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: orange;
    opacity: 0.8;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    position: relative;
    /*background-color: white;*/
    height: 150px;
    padding: 1px;
    /*border: 1px solid #000;*/
}

aside {
    /*background-color: gray;*/
    height: 1131px;
    width: 150px;
    border: 1px solid #000;
    float: left;

}

footer {
    /*background-color: yellowgreen;*/
    height: 50px; clear: both;
    border: 1px solid #000;
}

section {
    /*background-color: mediumpurple;*/
    width: 781px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /*border: 1px solid #000;*/
    float: left;
}

img {
    position: absolute;
    margin: 20px;
}

.container  {
    max-width: 969px;
    margin: 0 auto;
}

.subcontainer {
    width: 810px;
    float: left;
    margin-left: 5px;
    border: 1px solid black;
}

.icon {
    opacity: 0.75;
    background: red;
    width: 500px;
    padding: 15px;
    margin: 50px auto;
    border-radius: 10px 30px 10px 30px;
}

.article1 {
    background: lightgoldenrodyellow;
    background-position: 20px 50%;
    text-align: left;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    padding: 25px 50px;
    margin-left: 120px;
    margin-right: 120px;
    text-indent: 0;
}

.subcontainer2 {
    width: 965px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
   
}

h2 {
    color: darkorange;
    font-size: 130%;
    font-weight: bold;
}


h1 {
    color: darkorange;
    font-size: 180%;
    font-variant: small-caps;
}

.icon h1 {
    font-size: 240%;
    font-weight: bold;
    text-align: center;
    color: darkgoldenrod;
    text-shadow: -3px -3px 5px black;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.line-through {
    color: red;
    text-decoration: line-through;
}