
.socialy {

	align-items: baseline;
	margin-left:auto;
	margin: 12px 0;
	width: 10%;
	color:white;
}

.icon {
  width: 3em;
  height: 3em;
  fill: currentcolor;
  vertical-align: top;
}
	



.cards {
  list-style: none; 
  margin: 0; 
  padding: 15px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content:space-around;
  	
}


.card-title {
  display: flex;
  flex-direction: column; 
  flex: 1 0 400px; 
  margin: 10px; 
  height: 400px;
  
}



.card-article {
	margin-left:auto;
	padding: 0 -70px 0 -70px;
	@include respond-to('large') {
	
  display: flex; 
  flex-direction: column; 
  flex: 1 0 auto; 
  
  
  background-color: transparent;
  
	}
}

/// border style mixin
.borderyy {
	@include respond-to('large') {
	@include border-radius(10px);
	border-style: solid;
    border-color: #ff0000 ;
	background:transparent;
	width:37%;
	}
}

/// border style mixin
.borderyyy {
	@include respond-to('large') {
	@include border-radius(10px);
	border-style: solid;
    border-color: #ff0000 ;
	background:transparent;
	width:auto;
  height:auto;
	}
}

.card-article a {
  color: inherit;
  text-decoration: none;
  
}

.back1 {
	background:darkorange;
	color: white;
	
}

.header,
.bodyx,
.card-footer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.header,
.card-footer {
  font-size: 80%;
}

.header {
  padding-top: 15px;
  padding-bottom: 10px;
  
  
}

.category {
  font-weight: bold;

}


.socialx {
  margin-left: auto; 
}

.bodyx {
	
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-titlex {
	
  margin: 0;
  color: #333;
  font-size: 150%;
}


.card-titlex:not(:hover):not(:active) > a {
  color: inherit; 
}


.card-footer {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: auto; 
  white-space: nowrap; 
  color: #949494;
  background:transparent;
}


.card-author {
  text-overflow: ellipsis; 
  overflow: hidden; 
  margin-right: 5px; 
}





.card-article.noob,
.card-article.noob a {
  color: red;
}

.card-article.pro,
.card-article.pro a {
  color: red;
}


	




.noob {
	@include respond-to('large') {	
  
   
  
   
	width:100%;
	justify-content: center;
	margin-left:auto;
	}
}

.pro {
	@include respond-to('large') {	
  background:transparent;
   
  
   }
	width:800px;
}


//aside

.flex-container {
    
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
	width:100%;
}


aside {
	display:flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0px 70px;
    @include respond-to('large') {
    display: flex;
    flex-flow: wrap;
    flex: 1;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0;
	width: 600px;
	
	}
}

.logo {
    background-image: url("../images/1price.png");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 250px;
    margin: 1em auto;
	border-radius: 50%;
	 border-style: solid;
    border-color: #ff0000 ;
}

.logo h1 {
    font-size: 1em;
    line-height: 10px;
	padding: 0 80px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.navbar {
    
	background-image: url("../images/2price.png");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em auto;
    width: 250px;
	height: 250px;
	border-radius: 50%;
	border-style: solid;
    border-color: #ff0000 ;
}

.navbar h1 {
        font-size: 1em;
    line-height: 10px;
	padding: 0 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}





.block111 {
    background-image: url("../images/3price.png");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 250px;
    margin: 1em auto;
	border-radius: 50%;
	 border-style: solid;
    border-color: #ff0000 ;
	
}

.block111 h1 {
	    font-size: 1em;
    line-height: 10px;
	padding: 0 80px;
	text-align: center;
	align-items: center;
	justify-content: center;
}




