.landingcontainer{
display: flex;
margin-top:0;
align-items: center;
justify-content: center;
text-align:center;


height: 100%;

.bigbox {
    background:#916c55;
    width:400px;
    height: 380px;
}


a{
    margin-top: 0;
  text-decoration: none;

  

  &:hover{

      
  }
}

.smiley{
    color: red;
    font-size: 60px;
    text-align: center;
    background: white;
    width: 200px;
    height: 100px;
    margin: 5% 25% 5% 25%;

}

.peace {
    margin: 0 0;
    padding:20% 20%;
    justify-content: center;
    align-items: center;
    
    background:white;
}
.kill span {
    font-size: 0.2em;
    text-align: center;
}

.bottom {
    justify-content: center;
    padding: 30% 10%;

}
#p1, #p2, #p3{
color: map-get($colors, vit);
font-family: Arial, Helvetica, sans-serif;
text-align: center;



}

#p1{
    padding:2% 0;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}

#p2{
    font-size: 1em;
    color: white;
}

#p3{
    font-size: 1em;
    
    color: white;
}
}


