

h1{
  text-transform: uppercase;
}

header {
  display: flex;
 
  height: 50px;
  background-image: url("../images/binding-dark.png");
 

 
  background-color: #916c55;


}

.logo {
  display: flex;
  align-items: baseline;
  background:blue;
  
  
}
.fa-diamond {
  color: white;
  font-size: 10em;
  z-index:400;
  width: 200px;

  
}


 
  

//social


.social {
    font-size: 30px;
}

.socialplus {
    
  
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   list-style: none;

    width: 480px;
    justify-content: space-around;
    color:rgba(0, 0, 0, 0.6);
   

   

    @include respond-to('rare') {

    
   justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0 5% 0 5%;
    width: 480px;
    justify-content: space-between;
    color:black;
    
    
    }
    
}




//form


form > div > div,
form > div > fieldset > div {
  width: 90%;
  display:flex;
  flex:1;
  flex-direction: center;
}

#saveForm {
  color:white;
  background-color: map-get($colors, menub);
  border-color:map-get($colors, menub);
  width:100%;
  padding: 0 0 5% 0;
  margin: 0 0 5% 0;
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 2px solid map-get($colors, menub);
  border-left: 2px solid map-get($colors, menub);
  border-right: 2px solid map-get($colors, menub);
  border-bottom: 2px solid map-get($colors, menub);
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: map-get($colors, menub);
}

 @include respond-to('small') {
  
  form > div > label,
  legend {
	  width: 100%;
   
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 90%;
   
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
 @include respond-to('large') {
  form > div > label,
	legend {
  	text-align: left;
    display:flex;
    flex:1;
    
   
  }
}






.bars{
  display: inline-block;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;  
  background-color: map-get($colors, menub);
  width:100%;
    
    @include respond-to('medium'){
        display:none;
        
    }
}
input#show-menu {
    display: none;
    
    
    
    &:checked {
        ~ nav > ul {
            display: flex;
            background-color: map-get($colors, menub);
        }
        
                    
                
            
        }
    }
    .megamenu{
    text-transform: uppercase;
    color:map-get($colors, menub);
    display:none;
    position: static;
    top:48px;
    width:70%;
    
    background-color: map-get($colors, svart);

   
    
    @include respond-to('large'){
        position:absolute;
       
        width:1000px;
        height:290px;
        right:-600px;
        
        justify-content:space-around;

        
        ul{
            flex:none;
           // width:20%;
            
            
            li{
                font-size:0.7em;
                text-align: left;
                align-items: left;
                
                
                a{
                    //flex:none;
                    border:none;
                    
                    
                    &:hover{
                        border-bottom:none;
                        color:grey;
                    }
                }
            }
        }
    }
}
nav > ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    list-style: none;
    background-color: #916c55;
    background-image: url("../images/binding-dark.png");
    @include respond-to('small') {
        flex-wrap: wrap;
        flex-direction: row;
        display: none;
        width:100%;
        
    }
    @include respond-to('medium'){
        display:flex;
    }
    li {
        flex: 1;
        width: 150%;
        flex-direction: column;
            
        display: block;
        align-items: center;
        justify-content: center;
        @include respond-to('medium') {
            flex: 1;
            padding: 14px 5px;
        }
        @include respond-to('large') {
            flex: 1;
            display:flex;
            width:100%;
           
            
        }
        a, label {
            cursor:pointer;
            text-decoration: none;
            text-align: center;
            
            text-transform: uppercase;
            
            flex: 1;
            color: map-get($colors, vit);
            
            
            &:hover {
            color: map-get($colors, metal);
            }
            
        }
        
    }
}
ul li.dropdown {
    position: relative;
    
}

input#submenu_toggle{
    display: none;
    
    &:checked ~ .megamenu {
        display:block;
        z-index:200;
        
        @include respond-to('small'){
            display:flex;
            
            
        }
    }
}