html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}



body {
    background-image: url("../bilder/o-SCOTLAND-facebook1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: dosis;
}

.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-wrap: wrap;
    background:rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bold;

}

.toggleNav {
        display: block;
        background:rgba(0,0,0,0.2);
        

    }

.flex-nav ul.open {
        display:flex;
    }

.flex-nav li {
    flex-basis: 100%;
}

.flex-nav .social {
    flex:1 1 25%;
}

.landning {
    display: none;
    order: -1;
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background:rgba(0,0,0,0.2);
    padding:20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
}

a:hover {
    background:rgba(0,0,0,0.3);
}

/* elements */

* {
  box-sizing: border-box;
}

.box-card-wrap {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.box-card {
  background: seagreen;
  opacity: 0.7;
  border: 1px solid white;
  box-shadow: 1px 1px 2px white;
  min-width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.box-card-title {
  font-size: 120%; 
  font-weight: 700;
}

.box-card-meta {
  display: flex;
}

.box-card-category, .box-card-author {
  flex: 1;
}

.box-card-author {
  text-align: right;
}

.box-card-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.box-card-img {
  margin: 20px 0;
  align-self: center;
  width: 100%;
  height: auto;
}

.box-card-button {
  background: gold;
  color: seagreen;
  border: none;
  margin-top: auto;
  padding: 10px;
  font-size: 20px;
}

.box-card:last-child {
    width: 98%;
    height: auto;
    display: flex;
    flex: 0 0 auto;
}


/* Flex container*/

@media screen and (min-width: 600px) {
  .box-card {
    width: 48%;
    margin: 0 auto 2%;
    min-width: 0;
  }
}


/*
@media all and (max-width:500px) {

    
   

    .toggleNav {
        display: block;

    }

    .flex-nav ul {
        display: none;


    }

    .flex-nav ul.open {
        display:flex;
    }


}
*/

@media all and (min-width:500px) {

    .flex-nav li {
        flex:1 1 50%;
    }
    
    /* menu # */


    .toggleNav {
        display: none;

    }

    .flex-nav ul {
        display: flex;


    }

    .flex-nav ul.open {
        display:flex;
    }

    .landning {
        display: none;
    }


}


@media all and (min-width:1000px) {

    .flex-nax ul {
        flex:1;
    }

    .flex-nav .social {
        flex:1;
    }

    .flex-nav li {
        flex:3;
    }

    .landning {
        display: flex;
    }

}

