

.box-card-wrap {
	@extend %box-card-wrap;
}
.box-card {
	@extend %box-card;
	background-color: map-get($colors, seagreen);
	opacity: 0.7;
	border: 1px solid map-get($colors, white);
	box-shadow: 1px 1px 2px map-get($colors, white);
	min-width: 100%;
	padding: ($card-padding + 20) /2; //OPERATOR
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;

}



.box-card-title {
	@extend %box-card-title;
}
.box-card-meta {
	@extend %box-card-meta;
}
.box-card-category {
	@extend %box-card-category;
}
.box-card-author {
	@extend %box-card-author;
}
.box-card-bottom {
	@extend %box-card-bottom;
}
.box-card-img {
	@extend %box-card-img;
}
.box-card-button {
	@extend %box-card-button;
}




@include respond-to('medium') {







%author {
	color: map-get($colors, black);
}

.box-card-author {
	@extend %author;
}

%box-card {
	background-color: map-get($colors, dodgerblue);
}

.box-card {
	@extend %box-card;
}


		.box-card {
		width: 48%;
		margin: 0 auto 2%;
		min-width: 0;
	}
	     


}


@include respond-to('large') {

%box-card {
	background-color: transparent;
}

.box-card {
	@extend %box-card;
}




}