.footerx {
    display:block;
    flex:1 1 25%;
    flex-flow: column wrap;
}
 
.footery {
background-image: url("../images/icefooter.jpeg");
display:block;

flex-basis: 100%;
justify-content: center;
}




