//form


form > div > div,
form > div > fieldset > div {
  width: 90%;
  display:flex;
  flex:1;
  flex-direction: center;
}

#saveForm {
  color:white;
  background-color: map-get($colors, menub);
  border-color:map-get($colors, menub);
  width:100%;
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 2px solid map-get($colors, menub);
  border-left: 2px solid map-get($colors, menub);
  border-right: 2px solid map-get($colors, menub);
  border-bottom: 2px solid map-get($colors, menub);
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: map-get($colors, menub);
}

 @include respond-to('small') {
  
  form > div > label,
  legend {
	  width: 100%;
   
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 90%;
   
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
 @include respond-to('large') {
  form > div > label,
	legend {
  	text-align: left;
    display:flex;
    flex:1;
    
   
  }
}






.bars{
  display: inline-block;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;  
  background-color: map-get($colors, menub);
  width:100%;
    
    @include respond-to('medium'){
        display:none;
        
    }
}
input#show-menu {
    display: none;
    
    
    
    &:checked {
        ~ nav > ul {
            display: flex;
            background-color: map-get($colors, menub);
        }
        
                    
                
            
        }
    }
    .megamenu{
    text-transform: uppercase;
    color:map-get($colors, menub);
    display:none;
    position: static;
    top:48px;
    background-color: map-get($colors, black);
    
    @include respond-to('large'){
        position:absolute;
        width:900px;
        height:350px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        ul{
            flex:none;
            width:20%;
            
            
            li{
                font-size:0.7em;
                
                
                a{
                    flex:none;
                    border:none;
                    
                    
                    &:hover{
                        border-bottom:none;
                    }
                }
            }
        }
    }
}
nav > ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: map-get($colors, menub);
    @include respond-to('small') {
        flex-wrap: wrap;
        flex-direction: row;
        display: none;
        
    }
    @include respond-to('medium'){
        display:flex;
    }
    li {
        flex: 1;
        width: 100%;
        flex-direction: column;
            
        display: block;
        align-items: center;
        justify-content: center;
        @include respond-to('medium') {
            flex: 1 45%;
            
        }
        @include respond-to('large') {
            flex: 1;
            display:flex;
            
        }
        a, label {
            cursor:pointer;
            text-decoration: none;
            text-align: center;
            
            text-transform: uppercase;
            
            flex: 1;
            color: map-get($colors, white);
            padding: 14px 5px;
            
            &:hover {
            color: map-get($colors, slategray);
            }
            
        }
        
    }
}
ul li.dropdown {
    position: relative;
    
}

input#submenu_toggle{
    display: none;
    
    &:checked ~ .megamenu {
        display:block;
        z-index:200;
        
        @include respond-to('small'){
            display:flex;
            
        }
    }
}