.box-card-wrap {
	max-width: 70%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: $white;
}
.box-card {
	background: $sea_green;
	opacity: 0.7;
	border: 1px solid $white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 1px 1px 2px $white;
	min-width: 100%;
	padding: 10px;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	&:last-child {
		width: 98%;
		height: auto;
		display: flex;
		flex: 0 0 auto;
	}
}
.box-card-title {
	font-size: 120%;
	font-weight: 700;
}
.box-card-meta {
	display: flex;
}
.box-card-category {
	flex: 1;
}
.box-card-author {
	flex: 1;
	text-align: right;
}
.box-card-bottom {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.box-card-img {
	margin: 20px 0;
	align-self: center;
	width: 100%;
	height: auto;
}
.box-card-button {
	background: $gold;
	color: $sea_green;
	border: none;
	margin-top: auto;
	padding: 10px;
	font-size: 20px;
}

@media screen and(min-width: 600px) {
	.box-card {
		width: 48%;
		margin: 0 auto 2%;
		min-width: 0;
	}
}