

.box-card-wrap {
	@extend %box-card-wrap;
}
.box-card {
	background: $sea_green;
	opacity: 0.7;
	border: 1px solid $white;
	box-shadow: 1px 1px 2px $white;
	min-width: 100%;
	padding: ($card-padding + 20) /2; //OPERATOR
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	&:last-child {
		width: 98%;
		height: auto;
		display: flex;
		flex: 0 0 auto;
}
}

.box-card-title {
	@extend %box-card-title;
}
.box-card-meta {
	@extend %box-card-meta;
}
.box-card-category {
	@extend %box-card-category;
}
.box-card-author {
	@extend %box-card-author;
}
.box-card-bottom {
	@extend %box-card-bottom;
}
.box-card-img {
	@extend %box-card-img;
}
.box-card-button {
	@extend %box-card-button;
}




@include respond-to('medium') {







%author {
	color: $black;
}

.box-card-author {
	@extend %author;
}

%box-card {
	background: $blue;
}

.box-card {
	@extend %box-card;
}


		.box-card {
		width: 48%;
		margin: 0 auto 2%;
		min-width: 0;
	}
	     


}


@include respond-to('large') {

%box-card {
	background: transparent;
}

.box-card {
	@extend %box-card;
}




}