#frame {
    width: 302px;
    background-color: #DDDDDD;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.textBoxes {
    width: 290px;
    background-color: #AAAAAA;
    border: 2px solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

#button {
    width: 290px;
    background-color: #FF1111;
    border: 2px solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    
}


* {
    font-family: "Arial", sans-serif;
    color: beige;
}