
///font Url & Icons
@import url(https://fonts.googleapis.com/css?family=Dosis:bold,extrabold);





/// breakpoints
$breakpoints: (
  'small': ( min-width:  50.000em ),
  'medium': ( min-width:  51.000em ),
  'large':  ( min-width: 62.000em ),
) !default;




@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/// COLORMAPS för färger ***********
$colors: (
black_20: rgba(0,0,0,0.2),
nocolor: rgba(0,0,0,0.0),
grön: seagreen,
black_60: rgba(0,0,0,0.6),
vit: white,
black_30: rgba(0, 0, 0, 0.3),
gold: gold,
cyan: cyan,
menub: dodgerblue,
metal: slategray,
svart: black
) !default;

