/// placeholder card wrap

%box-card-wrap {
max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: map-get($colors, vit);

}
/// placeholder card title
%box-card-title {
    display:none;
	font-size: 120%;
	font-weight: 700;
}
/// placeholder card meta
%box-card-meta {
	display: none;
}
/// placeholder
%box-card-category {
    display:none;
	flex: 1;
}
/// placeholder card author
%box-card-author {
	flex: 1;
	text-align: right;
}
/// placeholder card bottom
%box-card-bottom {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
/// placeholder card img
%box-card-img {
	margin: 20px 0;
	align-self: center;
	width: 100%;
	height: auto;
}
/// placeholder cards button
%box-card-button {
    display:none;
	background-color: map-get($colors, vit);
	color: map-get($colors, menub);
	border: none;
	margin-top: auto;
	padding: 10px;
	font-size: 20px;


}








